*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-color:#1c1b1a; 
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.2;
	overflow: auto;
}

body.active{
	overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}


::-webkit-scrollbar-track {
  background: #1c1c1c; 
}
 

::-webkit-scrollbar-thumb {
  background: #9b9b9b; 
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



header{
	background: url(../images/2.jpg) ;
	height: 99.7vh;
	background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-position: center 10%;
	background-attachment: fixed; 
}

section{
	padding: 60px;
	margin: 0 auto;
}

nav	{
	position: sticky;
	top: 0;
	z-index: 5;
}

hr{
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


.toggle{
	position: fixed;
	right: 2%;
	top: 15px;
	width: 50px;
	background: rgba(45, 44, 42, 1);
	padding: 10px;
	border-radius: 20px;
	cursor:pointer;
	z-index: 1;
	
}

.toggle:hover{
	background: #f9d342;
}

.toggle:hover .hamburger div{
	background-color: #1c1b1a;
}

.toggle.active{
	background: #f9d342;
}

.hamburger div{
	width: 30px;
  	height: 3px;
  	background-color: white;
 	margin: 6px 0;
 	transition: .5s;

}


.toggle.active .hamburger{
	position: relative;
	top: 1;
}
.toggle.active .hamburger div:nth-of-type(even){
	background-color: rgba(0,0,0,0);
}

.toggle.active .hamburger div:nth-of-type(1){
	position: absolute;
	top: 0;
	background-color: #1c1b1a;
	transform: rotate(45deg);
}
.toggle.active .hamburger div:nth-of-type(3){
	position: absolute;
	top: 0;
	background-color: #1c1b1a;
	transform: rotate(135deg);
}

.overlay{
	position: fixed;
	right: 2.2%;
    top: 22px;
    width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #f9d342;
	transition: transform 0.5s;
}

.overlay.active{
	transform: scale(190,190);
}


.display{
	width: 100%;
	height: 100%;
	z-index: 1;
	visibility: hidden;
}

.display.active{
	visibility: visible;
}

.display ul{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: 0;
	padding: 0;
	
}

.display ul li{
	list-style: none; 
}

.display ul li a{
	position: relative;
	font-size: 48px;
	text-decoration: none;
	color: white;
	margin: 20px 0;
	display: block;
	font-weight: bold;
	text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.display ul li a:before{
	content: '';
	position: absolute;
	bottom: 5px;
	left: -10px;
	width: 100%;
	height: 20px;
	background: #1c1b1a;
	z-index: -1;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform .5s;
}

.display ul li a:hover:before{
transform: scaleX(1);
}



#home-heading{
	position: absolute;
	bottom: 20%; 
	right: 10%;
	padding: 10px;
	background-color: rgba(41, 40, 38, .8);
	width: 60%;
	border-radius: 5px;
}

#home-heading h1{
	font-weight: bold;
	font-size: 50px;
	text-transform: uppercase;
	color: #f9d342;
}

#home-heading h3{
	font-weight: normal;
	font-style: 35px;
}

#icons a{
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}

#icons a:hover{
	color: #f9d342;
}

#icons a i{
	padding: 0.4rem;
}

#about h1, #skills h1, #works h1, #contact h1{
	
	text-align: center;
	text-transform: uppercase;
	font-size: 50px;
	color: #f9d342;
	width: 50%;
	margin: auto;

}

#about h3 , #skills h3, #works h3, #contact h3{
	font-weight: normal;
	font-size: 20px;
	text-align: center;
}

.about_box{
	padding:20px 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.prof_pic{
	width: 30%;
}

.prof_pic img{
	width: 100%;
	border-radius: 10px;
}

.prof_detail{
	width: 50%;
    line-height: 1.5;
    text-align: justify;
    font-size: 1.25vw;
    padding: 1vh 0;
}


.works_box{
	padding:20px 0px;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 30px;
}

.works_box .box{
	position: relative;
	background: rgb(41, 40, 38);
	padding: 0;
	border-radius: 10px;
	font-size: 12px;
	letter-spacing: 1.5px;
}


.works_box .box:hover img{
	opacity: .3;

}

.works_box .box .visit_box{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	/*margin: auto;*/
	border-radius: 10px 10px 0 0;
	
	transform: scaleY(0);
	transition:  .5s;
	-moz-transition:  .5s;
	-o-transition: .5s;
	-webkit-transition: .5s;
	z-index: 2;
}


.works_box .box:hover .visit_box{
	transform: scaleY(1);
	-moz-transform: scaleY(1);
	-o-transform: scaleY(1);
	-webkit-transform: scaleY(1);
}


.works_box .box .visit_box h4{
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	margin: auto;
	font-size: 16px;
	color: #fff;
	background-color: #111;
	padding: 2.5%;
	border-radius: 10px;
}

.works_box .box .visit_box h4:hover{
	background-color: #f9d342;
	color: #1c1b1a;
}

.works_box .box img{
	object-fit: cover;
	width: 100%;
	transition: .5s;
	border-radius: 10px 10px 0 0;

}

.works_box .box h4{
	padding: 5px;
}

.skills_box{
	padding:60px 0px;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 30px;
	justify-content: center;
	align-items: start;
}

.skills_box .box{
	
	width: 25%;
	min-width: 250px;
	text-align: center;
	border-radius: 10px;
}



.skills_box .box h2{
	font-size: 25px;
	margin: 1px 0;
	color:#f9d342;
}


.skills_box .box li{
	padding: 15px;
	list-style-type: none;
	font-weight: bold;
	font-size: 16px;

}

.contact_box{
	padding:60px 0px;
}
.contact_box .box{
	background-color: rgb(41, 40, 38);
	width: 60%;
	min-width: 350px;
	padding: 10px;
	margin: 0 auto;
	border-radius: 10px;
}

.contact_box .box ul{
	margin:0 auto;
	width: 53%;
}
.contact_box .box li{
	padding: 10px;
	list-style-type: none;
	text-align: left;
	width: 100;
}


section#contact{
	min-height: 80vh;
	
}



@media(max-width: 1024px){
	#home-heading h1{
		font-size: 30px;
	}
	.toggle{
		background: #f9d342;
	}
	.toggle .hamburger div{
		background-color: #1c1b1a;
	}
	.about_box{
		display: block;
	}
	.prof_pic{
		margin: 0 auto;
		width: 45%;
	}
	.prof_pic img{
		border-radius: 50%;
	}
	.prof_detail{
		width: 90%;
		margin: 0 auto;
		font-size: 2.34375vw;
	}
	.works_box{
		grid-template-columns: repeat(1,2fr);
	}

	#about h1, #skills h1, #works h1, #contact h1{
		font-size: 30px;
	}
	.skills_box{
		grid-template-columns: auto auto;
	}
	.contact_box .box ul{
		width: 80%;
	}
	
}


@media(max-width: 815px){
	

	
	.contact_box .box ul{
		width: 90%;
	}


}

@media(max-width: 580px){
	.skills_box{
			grid-template-columns: auto;
	}


	.works_box .box .visit_box h3{
		font-size: 18px;
		padding: 7px;
	}

}

@media(max-width: 580px){
	#home-heading h1{
			font-size: 20px;
	}

	#about h1, #skills h1, #works h1, #contact h1{
			font-size: 20px;
	}

	#about h3 , #skills h3, #works h3, #contact h3{
			font-size: 15px;
	}
	.prof_pic{
			width: 200px;
			height: 200px;
	}
	
	

}


@media(max-width: 425px){
	.contact_box .box{
			width: 80%;
			min-width: 239px;
	}
	.contact_box .box li{
			font-size: 11px;
	}

	
	
}

@media(max-width: 414px){

	.display ul li a {
		font-size: 26px;
	}

	.prof_detail{
		width: 100%;
		font-size: 3.2vw;
		margin: 20px 0;
	}
	
	section{
		padding: 25px 35px;
	}


	.works_box .box img, .works_box .box .visit_box {
		width: 100%;
	}

	#about h1, #skills h1, #works h1, #contact h1{
		font-size: 16px;
	}

	#about h3 , #skills h3, #works h3, #contact h3{
			font-size: 12px;
	}

}


